<li  class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="{{ image }}">
            </div>

            <div class="meetup-details">

                <h1>{{ title }}</h1>  <!---{{ meetups_item.title }}  not with this because we have used with in include tag on index.html to like extract-->
                
                <address>  {{ location }}  </address>
            </div>
        </div>

    <div class="meetup-actions">
        <a href="{% url 'meetup-detail' meetups_item.slug %}" class="btn">More Details</a>
    </div>
    </article>


</li>