{% load static %}  <!---to enable static feature-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/basic.css' %}">
</head>
<body>
    <h1>All mietups</h1>
    <p>hello world</p>
    <button class="btn">Follow</button>

    {% if show_meetups %}
     <h2>{{ meetups.0.title }}</h2> <!--and this is interoporation string to get value stored in variable-->

        {% for meetups_item in meetups  %}</p>
         {{ meetups_item.title }}
         {% endfor %}
    {% else %}
      <p>no Meetups found</p>
    {% endif  %}

    
</body>
</html>