{% load static %}  <!---to enable static feature-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/basic.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
</head>
<body>

   
   
  

    {% if show_meetups %}
     <h2>{{ meetups.0.title }}</h2> <!--and this is interoporation string to get value stored in variable-->

        {% for meetups_item in meetups  %}</p>
         {{ meetups_item.title }}
         {% endfor %}
    {% else %}
      <p>no Meetups found</p>
    {% endif  %}

    
    <header id="main-header">
        <nav>
            <a id="main-logo" href="/meetups"> Django meetups</a>
            
        </nav>
        <h1>We got great meetups comming up</h1>
            <p>find the one of the best suit for you need     </p>
    </header>

    <main>
<section>
    <h2>Upcomming meetups</h2>

    <ol>
        {% for meetups_item in meetupinmain %}

        <li  class="meetup-item">
            <article>
                <div class="meetup-summary">
                    <div class="meetup-image">
                        <img src="">
                    </div>

                    <div class="meetup-details">

                        <h1>{{ meetups_item.title }}</h1>
                        
                        <address>  {{ meetups_item.location }}  </address>
                    </div>
                </div>

            <div class="meetup-actions">
                <a href="" class="btn">More Details</a>
            </div>
            </article>


        </li>





        {% endfor %}


    </ol>
</section>

    </main>
</body>
</html>