{% extends 'meetups/base/base.html' %}

{% load static %}  <!---to enable static feature-->

{% block title %}All Meetups  {% endblock %} <!--to override title of base-->


{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
 {% endblock %}

 {% block main_heading %}
 We got great meetups comming up
 {% endblock %}


 {% block header_content %}
<p> find the one of the best suit for you need </p>
     {% endblock %}   

   


{% block body %}

<section>
    <h2>Upcomming meetups</h2>

    <ol>
        {% for meetups_item in meetupinmain %}

       {% include 'meetups/includes/meetup-item.html' %}


        {% endfor %}


    </ol>
</section>

{% endblock%}


