{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %} You registered successfully{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">
{% endblock %}


{% block main_heading %} Thanks for signing up {% endblock %}


{% block body %}

<section id="confirmation">

    <h2>You registered succesfully</h2>
    <p>Thanks for signing up - see you at the meetup</p>
    <p>Got question or can't make it? <a href=""> Please contact the organizer</a> ahead of time!</p>

</section>

<section id="continue">
    <p>Of course you can sign up for more than one meeting!</p>
    <p> <a class="btn" href="/meetups"> Explore our Meetups</a></p>
</section>
{% endblock %}